### 소속사별 그룹핑하여 스캔들 날짜 범위 확인

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("C:/Users/chica/OneDrive/바탕 화면/BAF-25-1-finance_2/데이터/스캔들/ALL논란_크롤링.csv", parse_dates=['사건 날짜'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소속사     453 non-null    object
 1   그룹      307 non-null    object
 2   연예인 이름  453 non-null    object
 3   사건 날짜   453 non-null    datetime64[ns]
 4   사건 내용   453 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 17.8+ KB

In [10]:
group = df.groupby('소속사')['사건 날짜'].agg(['min', 'max']).reset_index()
group

       소속사        min        max
0     HYBE 2016-07-06 2024-09-07
1      JYP 2012-07-24 2025-03-02
2      RBW 2018-11-27 2023-10-31
3       SM 1984-01-08 2025-04-16
4   SM C&C 1970-03-09 2023-08-15
5       YG 2007-07-29 2025-01-16
6  아티스트컴퍼니 1999-09-13 2024-11-24
7       큐브 2010-03-31 2023-12-15
8     키이스트 1991-11-19 2025-12-31

In [ ]:
hybe = pd.read_csv("C:/Users/chica/OneDrive/바탕 화면/BAF-25-1-finance_2/데이터/주가/HYBE.csv", parse_dates=['날짜'])
hybe_min = hybe['날짜'].agg(['min', 'max'])

min   2020-10-16
max   2025-04-29
Name: 날짜, dtype: datetime64[ns]

In [14]:
len(group)

9

In [ ]:
def date_filter(df, stock_dir):

    result_list = []
    grouped = df.groupby('소속사')

    for name, group in grouped:
        
        stock_path = f"{stock_dir}/{name}.csv"
        stock = pd.read_csv(stock_path, parse_dates=['날짜'])
        stock_min = stock['날짜'].min()
        stock_max = stock['날짜'].max()

        filtered = group[(group['사건 날짜']>= stock_min)
                        &(group['사건 날짜']<= stock_max)]
        result_list.append(filtered)
        
    result = pd.concat(result_list, ignore_index=True)
    return result

In [17]:
stock_dir = "C:/Users/chica/OneDrive/바탕 화면/BAF-25-1-finance_2/데이터/주가"
filtered_df = date_filter(df, stock_dir)
filtered_df.to_csv("C:/Users/chica/OneDrive/바탕 화면/BAF-25-1-finance_2/데이터/ALL논란_Filtered.csv", index=False)
print(filtered_df.head())

    소속사     그룹 연예인 이름      사건 날짜  \
0  HYBE  방탄소년단     지민 2022-04-25
1  HYBE  방탄소년단     정국 2024-01-06
2  HYBE   엔하이픈     정원 2021-11-18
3  HYBE   엔하이픈     정원 2021-11-19
4  HYBE   엔하이픈     제이 2023-01-10

                                               사건 내용
0  2022년 4월 25일, 언론사 비즈한국의 취재결과 건강보험료 체납으로 보유하고 있...
1  2024년 1월 6일, 정국이 입대 후 신병 교육을 받는 동안 발생했다. 탈취범은 ...
2  2021년 11월 18일 오후 5시 , ENHYPEN 은 D-1 이라는 제목으로 V...
3  2021년 11월 19일 사과문을 게시했다. [ 펼치기 · 접기 ] 엔진 여러분 안...
4  2023년 1월 10일, 멤버 성훈과 함께 진행한 위버스 라이브 도중 요즘 한국사 ...

필터링 이전

In [19]:
len(df)

453

필터링 이후

In [18]:
len(filtered_df)

390